.data-entry {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 10px;
  margin: 5px 0;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #333;
}

body {
  background-color: #e0e5e7;
}

